.canvas-container {
  flex: 1;
  display: flex;
  width: 100%;
  height: calc(100vh - 100px); /* Account for header height */
  position: relative;
  min-height: 0; /* Prevent flex item from overflowing */
}

.drawing-canvas {
  width: 100%;
  height: 100%;
  cursor: crosshair;
  background-color: #fff;
  touch-action: none; /* Prevent scrolling on touch devices */
}

.dark-mode .drawing-canvas {
  background-color: #333;
}
